{% extends "base.html" %}

{% block title %}YuList{% endblock %}


{% block contents %}
<div id="contents">

<h1>{{ title }}</h1>

{% if intro %}
{{ intro }}
{% endif %}

{% if items %}
  <ul>
  {% for item in items %}
    <li>
      {{ item }}
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% if outro %}
{{ outro }}
{% endif %}

{% if toc %}
<div id="toc">
  <h2>{{ toc_text }}</h2>
  <ul>
  {% for toc_entry in toc %}
    <li>{{ toc_entry }}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}

<div id="search">
  <p>
  <a href="/search">Search</a>
  </p>
</div>

</div>
{% endblock %}


{% block navigation %}
<div id="navigation">
<em>You are here:</em>
<ul>
{% for bread_crumb in bread_crumbs %}
  <li class="crumb">{{ bread_crumb }}</li>
{% endfor %}
</ul>
</div>
{% endblock %}
