{% extends "base.html" %}

{% block title %}YuList{% endblock %}


{% block contents %}
<div id="contents">

<h1>{{ title }}</h1>

{{ intro }}

{% if items %}
  <ul>
  {% for item in items %}
    <li>{{ item }}</li>
  {% endfor %}
  </ul>
{% endif %}

{{ outro }}

{% if toc %}
<div id="toc">
  <h2>{{ toc_text }}</h2>
  <ul>
  {% for toc_entry in toc %}
    <li>{{ toc_entry }}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}

</div>
{% endblock %}

<script data-isso="//dmerej.info/isso/"
        src="//dmerej.info/isso/js/embed.min.js">
</script>
<section id="isso-thread">
</section>

{% block navigation %}
<div id="navigation">
<em>You are here:</em>
<ul>
{% for bread_crumb in bread_crumbs %}
  <li class="crumb">{{ bread_crumb }}</li>
{% endfor %}
</ul>
</div>
{% endblock %}
